/* глобальные параметры */
*
  box-sizing: border-box

html
  font-size: 62.5%
  font-family: 'Montserrat', Arial, sans-serif

.visually-hidden 
  position: absolute
  clip: rect(0 0 0 0)
  width: 1px
  height: 1px
  margin: -1px

.clearfix:after
  display: block
  content: ""
  clear: both 

.wrap
  max-width: 1680px
  margin: 0 auto
  &_content
    max-width: 1348px
    margin: 0 auto
    padding: 0 20px
/* конец глобальных параметров */

.section
  min-height: 100vh
  width: 100%
  // display: flex
  // min-height: 100vh
  // -webkit-flex-wrap: wrap
  // -ms-flex-wrap: wrap
  // flex-wrap: wrap
  // -webkit-justify-content: center
  // justify-content: center
  // -webkit-align-items: center
  // align-items: center

.title
  font-weight: 300
  color: $col_l

.green
  color: $col_g
