---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_audi.png" class="case-logo" alt=""/>
          <p class="case-description">Разработка креативной концепции и дизайн-макетов для продвижения в Инстаграмм</p>
          <ul class="tags">
            <li class="tag">CREATIVE</li>
            <li class="tag">DESIGN</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">Тест-драйв ощущений</h2>
        <div class="video-content">
          <img src="../img/ip_cbg_audi.jpg" alt="" class="case-imgset"/>
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_electro.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>

{% endblock %}
