---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_wtr.png" class="case-logo" alt=""/>
          <!-- <p class="case-task">ЗАДАЧА</p> -->
          <p class="case-description">Да, иногда мы делаем рекламу для себя. Ярко, заметно, без купюр</p>

          <p class="case-description">Так как долгое время ГРАТТ воспринимали исключительно, как агентство по размещению рекламы, хотелось привлечь внимание и к новому направлению -  GRATT digital (креатив, продакшн, интегрированные рекламные решения). Более того, существовала и обратная ситуация. Те, кто работал с нами в области креатива и производства контента, не всегда воспринимал нас, как баинговое агентство.</p>
<!--           <p class="case-description">"Вот это реклама!"  - серия постеров для наружки. Кричащий макет, слоган-лозунг и сильные география размещения  - это отражение сегодняшнего ГРАТТ.</p> -->
          <p class="case-description">Познакомиться с нашим баингом можно на сайте gratt.ru</p>

 




          <ul class="tags">
            <li class="tag">CREATIVE</li>
            <li class="tag">DESIGN</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">Вот это реклама!</h2>
        <div class="video-content">
          <img src="../img/ip_cbg_in_wtr.jpg" alt="" class="case-imgset"/>

<!--           <div class="video-block">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gd_jJhX-Xtc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_philos.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>

{% endblock %}
