---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_dabu.png" class="case-logo" alt=""/>
          <p class="case-description">В апреле 2019 года состоялся релиз сингла группы DABU DAVOUT. Ребята делают интересный музыкальный коктейль, смешивая жанры, вокал, шумы и звуки окружающей действительности.
          </p>
          <p class="case-description">Разрабатывать обложку (упаковку) для такого продукта - интересно и не просто. Постоянное взаимодействие с артистами, обсуждение смыслов и эмоций привело нас к образу «странника», а популярная техника «коллаж», подчёркивает многообразие музыки.
          </p>
          <ul class="tags">
            <li class="tag">DESIGN</li>
            <li class="tag">CREATIVE</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">DABU DAVOUT - I know</h2>
        <div class="video-content">
          <img src="../img/ip_cbg_dabu.jpg" alt="" class="case-imgset"/>
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_wtr.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>

{% endblock %}
