---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_mbw.png" class="case-logo case-mbw" alt=""/>
          <p class="case-description">Имиджевый ролик для дилерского центра Mercedes Benz Wagner.</p>
          <p class="case-description">В объективе камеры новый AMG 6.3</p>
          <ul class="tags">
            <li class="tag">VIDEO</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">AMG 6.3</h2>
        <div class="video-content">
          <div class="video-block">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lUerxR3xYjc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_power.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>

{% endblock %}
