---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_stoma.png" class="case-logo" alt=""/>
          <!-- <p class="case-task">ЗАДАЧА</p> -->
          <p class="case-description">Клиент - стоматологическая клиника в Великом Новгороде.</p>
          <p class="case-description">Разработка дизайн-концепции серии постеров для наружной рекламы.</p>
          <p class="case-description">Идея: оставаться в информационном поле горожан, напрямую не говоря о продукте.</p>
          <p class="case-description">Современная наука доказала: в улыбке скрыт ключ к счастью. Мы напомнили целевой аудитории клиник, что улыбка имеет большое значение в жизни и ей нужно уделять должное внимание.</p>
          <ul class="tags">
            <li class="tag">CREATIVE</li>
            <li class="tag">DESIGN</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">Эмоции, которыми нужно делиться</h2>
        <div class="video-content">
          <img src="../img/ip_cbg_stoma.jpg" alt="" class="case-imgset"/>
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_audi.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>

{% endblock %}
