---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_CDS1.png" class="case-logo case-art" alt=""/>
          <p class="case-description">Анимационный ролик для управляющей компании застройщика.</p>
          <ul class="tags">
            <li class="tag">PRODUCTION</li>
            <li class="tag">DESIGN</li>
            <li class="tag">MOTION</li>
            <li class="tag">VIDEO</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">ЦДС. Управляющая компания</h2>
        <div class="video-content">
          <!-- <img src="../img/ip_cbg_art2.jpg" alt="" class="case-imgset"/> -->

          <div class="video-block">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/335qNApyC0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_mbw.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>

{% endblock %}
