---
title: GRATT Digital | Кейсы
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section section__case wrap clearfix">
  <div class="wrap_content clearfix">
    <div class="case__descript">
      <div class="video-wrap">
        <div class="video-content">
          <img src="../img/ip_cl_art.png" class="case-logo" alt=""/>
          <!-- <p class="case-task">ЗАДАЧА</p> -->
          <p class="case-description">
            В декабре 2018 года, нас пригласили снять интервью с известным архитектором и сооснователем британской дизайн-студии «Project Orange» - Кристофером Эшем. В Санкт-Петербурге студия реализует проект дизайна интерьеров клубного дома Art View House.
          </p>
          <ul class="tags">
            <li class="tag">VIDEO</li>
            <li class="tag">MOTION</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="case__showreel">
      <div class="video-wrap">
        <h2 class="case__title sigle-case">Философия дизайна</h2>
        <div class="video-content">
          <div class="video-block">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4SnkLpoMiwA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="case__arr_all">
      <a href="/cases.html" class="case_nav_link">Вернуться к кейсам</a>
    </div>
    <div class="case__arr_next">
      <a href="/case_beauty.html" class="case_nav_link">Смотреть следующий</a>
    </div>
  </div>
</section>
{% endblock %}
