.section__case
  position: relative
  background-color: $col_bg_d 

.sigle-case
  display: block
  width: 100% 
  font-weight: 300
  margin-left: 5vw
  margin-top: 2vh
  margin-bottom: 2vh
  @media screen and (orientation: portrait)
    margin-left: 5vh
    margin-top: 2vw
    margin-bottom: 2vw
  
  

.video
  &-wrap
    display: flex
    height: 80%
    -webkit-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap 
    -ms-flex-wrap: wrap 
    flex-wrap: wrap 
  &-content
    display: block
    width: 85%
    margin: 0 auto


.video-block
  position: relative
  display: block
  padding-bottom: 56.25% /* 56.25%  sets the height of the container to 16:9 (4:3 - 75%) */
  padding-top: 0px
  height: 0
  overflow: hidden

.video-block iframe 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.case__showreel
    position: absolute
    bottom: 8vh
    left: 30%
    right: 0%
    border: 1px solid rgba($col_l, .5)
    height: calc(100vh - 130px - 8vh) 
    margin-top: 130px
    
    @media screen and (orientation: portrait)
      position: relative
      width: 100%
      height: initial!important
      margin-top: 0!important
      left: 0
      border: none
    +r(1024)
      height: calc(100vh - 55px - 8vh)
      margin-top: 55px

.case
  &-logo
    display: inline-block
    max-width: 15vw
    margin-top: 10vh 
    @media screen and (orientation: portrait)
      margin-top: 20vh
  &-art
    max-width: 10vw
  &-mbw
    max-width: 20vw 
  &-imgset
    width: 90%
    margin: 0 auto
    
  &-task
    font-weight: 300
    font-size: 1.5vw
    margin-top: 1em 
    color: rgba($col_l, .7)
  &-description
    font-weight: 300
    color: $col_l
    font-size: 2vh
    margin-bottom: 0.5em
    @media screen and (orientation: portrait)
      font-size: 2vw

.case
  &__descript
    position: absolute
    bottom: 8vh
    left: 0
    right: 70%
    // padding-left: 20px
    border: 1px solid rgba($col_l, .5)
    height: calc(100vh - 130px - 8vh) 
    margin-top: 130px
    @media screen and (orientation: portrait)
      position: relative
      // width: 100%
      height: initial!important
      margin-top: 0!important
      margin-bottom: 5vh 
      border: none
    +r(1024)
      height: calc(100vh - 55px - 8vh)
      margin-top: 55px
  &__arr
    &_all
      position: absolute
      bottom: 0
      border: 1px solid rgba($col_l, .5)
      left: 0%
      right: 70%
      text-align: center
      &:before
        display: block
        position: absolute
        content: ""
        width: 100%
        height: 100%
        // background-color: rgba(red, .2)
    &_next
      position: absolute
      bottom: 0%
      border: 1px solid rgba($col_l, .5)
      left: 30%
      right: 0
      text-align: center
      &:before
        display: block
        position: absolute
        content: ""
        width: 100%
        height: 100%
        background: url("../img/ip_cbg_beauty.jpg")
        opacity: .5 
  &_nav_link
    position: relative
    display: block
    text-decoration: none
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    font-weight: 300
    font-size: 1.2vh
    line-height: 8vh
    color: $col_l
    background-color: rgba($col_bg_d, 0.5)
    &:hover
      background-color: rgba($col_bg_d, 0.1)
      color: $col_accent 

.tag
  display: inline-block
  background: green
  color: $col_l
  line-height: 4vh
  font-size: 3vh
  padding: .5vh
  @media screen and (orientation: portrait)
    line-height: 4vw
    font-size: 3vw
    padding: .5vw

