{% set
  item = [
  {
    logo: '../img/ip_cl_art.png',
    title: 'В соседстве с искусством',
    description: 'Хотим поделиться проектом по  разработке дизайн-концепции оформления стоек в бизнес-терминале Пулково 3',
    bg: '../img/cp_art.jpg',
    link: '/case_art.html'
  },
  {
    logo: '../img/ip_cl_wtr.png',
    title: 'Вот это реклама!',
    description: 'Да, иногда мы делаем рекламу для себя. Ярко, заметно, без купюр',
    bg: '../img/ip_cbg_wtr.jpg',
    link: '/case_wtr.html'
  },
  {
    logo: '../img/ip_cl_audi.png',
    title: 'Тест-драйв ощущений',
    description: 'Разработка креативной концепции и дизайн-макетов для продвижения в Инстаграмм',
    bg: '../img/cp_audi.jpg',
    link: '/case_audi.html'
  }
]
%}
