{% set
  item = [
  {
    logo: '../img/ip_cl_mbw.png',
    title: 'AMG 6.3',
    description: 'Имиджевый ролик для дилерского центра Mercedes Benz Wagner.',
    bg: '../img/cp_mbw.jpg',
    link: '/case_mbw.html'
  },
  {
    logo: '../img/ip_cl_power.png',
    title: '"CARBON x POWER"',
    description: 'Для тех кто ценит индивидуальность и умеет правильно себя преподнести.',
    bg: '../img/cp_power.jpg',
    link: '/case_power.html'
  },
  {
    logo: '../img/ip_cl_dabu.png',
    title: 'DABU DAVOUT - I know',
    description: 'В апреле 2019 года состоялся релиз сингла группы DABU DAVOUT. Разрабатывать обложку (упаковку) для такого продукта - интересно и не просто.',
    bg: '../img/cp_dabu.jpg',
    link: '/case_dabu.html'
  }
]
%}
