{% set
  item = [
  {
    logo: '../img/ip_cl_CDS1.png',
    title: 'ЦДС. Управляющая компания',
    description: 'Анимационный ролик для управляющей компании застройщика.',
    bg: '../img/ip_cbg_CDS.jpg',
    link: '/case_cds.html'
  },
  {
    logo: '../img/ip_cl_mbw.png',
    title: 'AMG 6.3',
    description: 'Имиджевый ролик для дилерского центра Mercedes Benz Wagner.',
    bg: '../img/cp_mbw.jpg',
    link: '/case_mbw.html'
  },
  {
    logo: '../img/ip_cl_power.png',
    title: '"CARBON x POWER"',
    description: 'Для тех кто ценит индивидуальность и умеет правильно себя преподнести.',
    bg: '../img/cp_power.jpg',
    link: '/case_power.html'
  }
]
%}
