{% set
  item = [
  {
    logo: '../img/ip_cl_mbw.png',
    title: 'AMG 6.3',
    description: 'Имиджевый ролик для дилерского центра Mercedes Benz Wagner.',
    bg: '../img/ip_cbg_mbw.jpg',
    link: '/case_mbw.html'
  },
  {
    logo: '../img/ip_cl_power.png',
    title: '"CARBON x POWER"',
    description: 'Для тех кто ценит индивидуальность и умеет правильно себя преподнести.',
    bg: '../img/ip_cbg_power.jpg',
    link: '/case_power.html'
  },
  {
    logo: '../img/ip_cl_dabu.png',
    title: 'DABU DAVOUT - I know',
    description: 'В апреле 2019 года состоялся релиз сингла группы DABU DAVOUT. Разрабатывать обложку (упаковку) для такого продукта - интересно и не просто.',
    bg: '../img/cp_dabu.jpg',
    link: '/case_dabu.html'
  },
  {
    logo: '../img/ip_cl_art.png',
    title: 'Философия дизайна',
    description: 'Запись интервью с британским дизайнером интерьеров Кристофером Эшем для проекта Art View House',
    bg: '../img/ip_cbg_art.jpg',
    link: '/case_philos.html'
  },
  {
    logo: '../img/ip_cl_stoma.png',
    title: 'Эмоции, которыми нужно делиться',
    description: 'Разработка концепции и дизайн-макетов для стоматологической клиники в Великом Новгороде',
    bg: '../img/cp_stoma.jpg',
    link: '/case_stoma.html'
  },
  {
    logo: '../img/ip_cl_audi.png',
    title: 'Тест-драйв ощущений',
    description: 'Разработка креативной концепции и дизайн-макетов для продвижения в Инстаграмм',
    bg: '../img/cp_audi.jpg',
    link: '/case_audi.html'
  },
  {
    logo: '../img/ip_cl_art.png',
    title: 'В соседстве с искусством',
    description: 'Хотим поделиться проектом по  разработке дизайн-концепции оформления стоек в бизнес-терминале Пулково 3',
    bg: '../img/cp_art.jpg',
    link: '/case_art.html'
  },
  {
    logo: '../img/ip_cl_wtr.png',
    title: 'Вот это реклама!',
    description: 'Да, иногда мы делаем рекламу для себя. Ярко, заметно, без купюр!',
    bg: '../img/ip_cbg_wtr.jpg',
    link: '/case_wtr.html'
  }
]
%}
