<section class="section hero wrap clearfix">
        
  <div class="hero_wrapper">

    <div class="wrap_content">
      <video autoplay loop muted poster="../img/hero_video/promo.jpg" id="background">
         <source src="../img/hero_video/promo.mp4" type="video/mp4">
         <source src="../img/hero_video/promo.webm" type="video/webm">
         <source src="../img/hero_video/promo.ogv" type="video/ogg">
      </video>
      <div id="video_overlay"></div>
      <h1 class="visually-hidden">GRATT Digital</h1>
      <p class="slogan">Лучше о нас расскажут только наши работы.</p>
    </div>
  </div>
</section>