<section class="section contacts wrap clearfix">
  <div class="contacts_wrapper">
    <div class="wrap_content">
      <img src="../img/ip_cont.jpg" alt="" class="contacts__img"/>
      <div class="content__block"> 
        <h2 class="title contacts__title">Давайте сделаем что-то классное!</h2>
        <p class="contacts_us">Связаться</p>
        <a href="tel:89217641457" class="contacts__link">+7 (921) 764-14-57</a>
        <a href="mailto:hello@grattdigital.ru" class="contacts__link">hello@grattdigital.ru</a>
        <div class="social__block">
          <a href="https://www.facebook.com/firmagratt" class="social__fb"></a>
          <a href="https://www.instagram.com/grattdigital/" class="social__inst"></a>
          <a href="https://www.youtube.com/channel/UCEUJCUSTTBwA30Xs0SFzxxQ" class="social__yt"></a>
          <a href="https://vk.com/grattdigital" class="social__vk"></a>
        </div>
      </div>
    </div>
  </div>
</section>