<section class="section servises wrap">
  <h2 class="title title__servises padding-top wrap_content">Услуги<span class="green">Servises</span></h2>
  <ul class="servises__wrap wrap_content">

    <li class="servises__item servises__item_top clearfix">
      <h2 class="servises__title">Creative</h2>
      <ul class="servises__description">
        <li>Разработка креативных концепций, активаций и рекламных кампаний в digital, а также offline</li>
      </ul>

    </li>
    <li class="servises__item servises__item_top clearfix">
      <h2 class="servises__title">Design</h2>
      <ul class="servises__description">
        <li>Графический дизайн</li>
        <li>WEB дизайн</li>
        <li>Дизайн презентаций</li>
      </ul>
    </li>

    <li class="servises__item servises__item_top clearfix">
      <h2 class="servises__title">SMM</h2>
      <ul class="servises__description">
        <li>Контент-маркетинг</li>
        <li>Комьюнити-менеджмент</li>
        <li>Таргетированная реклама</li>
      </ul>
    </li>

    <li class="servises__item servises__item_bottom clearfix">
      <h2 class="servises__title">VIDEO</h2>
      <ul class="servises__description">
        <li>Рекламные ролики</li>
        <li>Корпоративные фильмы</li>
        <li>Репортажная съемка</li>
        <li>Аэросъемка</li>
        <li>Видео 360</li>
        <li>Интервью</li>
      </ul>
    </li>

    <li class="servises__item servises__item_bottom clearfix">
      <h2 class="servises__title">PHOTO</h2>
      <ul class="servises__description">
        <li>Рекламная фотография</li>
        <li>Предметная фотосъемка</li>
        <li>Репортажная фотосъемка</li>
      </ul>
    </li>

    <li class="servises__item servises__item_bottom clearfix">
      <h2 class="servises__title">MOTION</h2>
      <ul class="servises__description">
        <li>Motion-дизайн</li>
        <li>Анимированные презентации</li>
        <li>VFX</li>
      </ul>
    </li>



  </ul>


</section>