<section class="section cases wrap clearfix">
  <h2 class="cases title title__case wrap_content">Кейсы<span class="green">Cases</span></h2>
  {% import "data/cases.html" as cases %}
    {% for item in cases.item %}
      <li class="case__item clearfix" style="background: url('{{item.bg}}') no-repeat top center; background-size: cover;">

        <a href="{{item.link}}" class="overlay">
          <div class="wrap_content case">
            <img src="{{item.logo}}" alt="" class="case__logo"/>
            <h2 class="case__title">{{item.title}}</h2>
            <p class="case__description">{{item.description}}</p>
          </div>
        </a>
      </li>
    {%endfor%}
  <a href="/cases.html" class="case__more">Смотреть все кейсы</a>


</section>